<!DOCTYPE html>
<html>

<head>

    <title>AI Resume Analyzer</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>AI Resume Analyzer</h1>

        <form method="POST"
        enctype="multipart/form-data">

            <input type="file"
            name="resume"
            required>

            <textarea
            name="jd"
            placeholder="Paste Job Description"
            required></textarea>

            <button type="submit">
                Analyze Resume
            </button>

        </form>

        {% if skills %}

            <h2>Skills Found</h2>

            <ul>

                {% for skill in skills %}

                    <li>{{ skill }}</li>

                {% endfor %}

            </ul>

            <h2>ATS Score</h2>

            <p>{{ score }}%</p>

            <h2>Job Match</h2>

            <p>{{ match }}%</p>

        {% endif %}

    </div>

</body>

</html>